<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Demo</a>
    </div>
    <ul class="nav navbar-nav">
        {{#each nav}}
        {{!-- log is useful! can print variable as it's rendering --}}
        {{!-- {{debug}} is also nice, in that it will break in the debugger --}}
        {{!-- {{log name}} --}}
          {{#unless hidden}}
            <li {{bind-attr class="active:active"}}>
              {{!--{{log route}} --}}
              {{#link-to route}}{{name}}{{/link-to}}
            </li>
          {{/unless}}
        {{/each}}
    </ul>
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
